%header.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_url} Silicon Straits Saigon Store
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to "Home", root_path
        %li
          = link_to t(".products"), products_path
        %li
          = link_to t(".about"), "/about"
        %li
          = link_to t(".contact"), "/contact"
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
              Account
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to current_user.email, edit_user_registration_path, class: "navbar-link", target: "_self"
              %li
                = link_to t("common.sign_out"), destroy_user_session_path, class: 'navbar-link', target: "_self", method: :delete
        - else
          %li
            = link_to t("common.sign_up"), new_user_registration_path, target: "_self"
          %li
            = link_to t("common.sign_in"), new_user_session_path, target: "_self"
    / /.nav-collapse